body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: gray;
}

header {
    background-color: #222;
    color: #fff;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: .1fr .1fr 1fr .1fr;
    margin-top: 20px;
}

hr {
    width: 100%;
    grid-column: 1 / 5;
}

h2 {
    grid-column: 2/3;
}

#blue {
    background: blue;
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
}

#white {
    background: white;
    grid-column: 2 / 4;
}

#red {
    background: red;
    grid-column: 1 / 4;
}

#chile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
}

.star {
    width: 70px;
    aspect-ratio: 1;
    background: white;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
}

#denmark {
    display: grid;
    grid-template-columns: 3fr 1fr 8fr;
    grid-template-rows: 4fr 1fr 5fr;
    height: 200px;
    width: 300px;
    background-color: white;
}

#dred1, #dred2, #dred3, #dred4 {
    background-color: red;
}

#dred1 {
    grid-column: 1;
    grid-row: 1;
}

#dred2 {
    grid-column: 3;
    grid-row: 1;
}

#dred3 {
    grid-column: 1;
    grid-row: 3;
}

#dred4 {
    grid-column: 3;
    grid-row: 3;
}

#finland {
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template-rows: 2fr 1fr 2fr;
    height: 200px;
    width: 300px;
    background-color: blue;
}

#fwhite1, #fwhite2, #fwhite3, #fwhite4 {
   background-color: white;
}

#fwhite1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#fwhite2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#fwhite3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#fwhite4 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#benin {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
}

#bgreen {
    grid-column: 1;
    grid-row: 1/3;
    background-color: green;
}

#byellow {
    grid-column: 2;
    grid-row: 1;
    background-color: yellow;
}

#bred {
    grid-column: 2;
    grid-row: 2;
    background-color: red;
}